/* ==========================================================================
   my custom styles
   ========================================================================== */
/* helper styles */
/* line 37, style.scss */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 48, style.scss */
.relative-container {
  position: relative;
}

/* /helper styles */
/* general page styles */
/* line 56, style.scss */
html {
  background-color: #3a3a3a;
}

/* line 60, style.scss */
html.delayed {
  background-image: url(http://shapedance.beautifuluniquesnowflake.com/assets/images/low_contrast_linen.png);
}

/* line 64, style.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: whitesmoke;
}

/* line 73, style.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: #ebebeb;
}
/* line 78, style.scss */
a:hover {
  text-decoration: underline;
}

/* line 83, style.scss */
._pbj-viewport {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 400px;
}

/* line 91, style.scss */
._pbj-inner {
  width: 300%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translate3d(-33.33333%, 0, 0);
  -moz-transform: translate3d(-33.33333%, 0, 0);
  -ms-transform: translate3d(-33.33333%, 0, 0);
  -o-transform: translate3d(-33.33333%, 0, 0);
  transform: translate3d(-33.33333%, 0, 0);
  -webkit-transform: translate3d(-66.66666%, 0, 0);
  -moz-transform: translate3d(-66.66666%, 0, 0);
  -ms-transform: translate3d(-66.66666%, 0, 0);
  -o-transform: translate3d(-66.66666%, 0, 0);
  transform: translate3d(-66.66666%, 0, 0);
}

/* line 100, style.scss */
._pbj-img-container {
  display: block;
  float: left;
  list-style-type: none;
}

/* line 106, style.scss */
._pbj-img {
  display: block;
}

/* line 110, style.scss */
._pbj-tap-map {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

/* line 120, style.scss */
._pbj-tap-w,
._pbj-tap-e,
._pbj-tap-n,
._pbj-tap-s {
  width: 50%;
  left: 0;
  position: absolute;
}

/* line 128, style.scss */
._pbj-tap-e,
._pbj-tap-n-2,
._pbj-tap-s-2 {
  left: 50%;
}

/* line 133, style.scss */
._pbj-tap-w,
._pbj-tap-e {
  height: 100%;
}

/* line 138, style.scss */
._pbj-tap-n,
._pbj-tap-s {
  height: 50%;
}

/* line 142, style.scss */
._pbj-tap-w {
  cursor: w-resize;
  background-color: red;
}

/* line 147, style.scss */
._pbj-tap-e {
  cursor: e-resize;
  background-color: blue;
}

/* line 152, style.scss */
._pbj-tap-n {
  -webkit-transform-origin-y: bottom;
  cursor: n-resize;
  background-color: green;
}

/* line 158, style.scss */
._pbj-tap-s {
  bottom: 0;
  -webkit-transform-origin-y: top;
  cursor: s-resize;
  background-color: yellow;
}

/* line 166, style.scss */
._pbj-tap-n-1,
._pbj-tap-s-1 {
  -webkit-transform-origin-x: right;
}

/* line 171, style.scss */
._pbj-tap-n-2,
._pbj-tap-s-2 {
  -webkit-transform-origin-x: left;
}

/* line 176, style.scss */
._pbj-tap-n-1,
._pbj-tap-s-2 {
  -webkit-transform: skewY(33.69deg);
}

/* line 181, style.scss */
._pbj-tap-n-2,
._pbj-tap-s-1 {
  -webkit-transform: skewY(-33.69deg);
}

/* state-specific styles */
/* /state-specific styles */
/* dev */
/* line 197, style.scss */
body {
  padding: 1em;
}

/* /dev */
/* /general page styles */
/* responsive media queries */
@media (min-width: 1025px) {
  /* if larger than typical tablet display, aka desktop styles */
}
@media (max-width: 480px) {
  /* if smaller or equal to typical phone display, aka phone styles */
}
