/* ==========================================================================
   my custom styles
   ========================================================================== */

// mixins

@mixin prefix($rule, $val) {
	@each $browser in -webkit-, -moz-, -ms-, -o-, "" {
		#{$browser}#{$rule}: $val;
	}
}

@mixin animation($name, $timing-function: ease-in-out, $duration: 2s, $iterations: infinite) {
	@include prefix(animation, $name $duration $iterations $timing-function);
}

// /mixins

// color variables

$red: rgba(195, 0, 11, 0.627);
$green: rgba(0, 130, 68, 0.694);
$blue: rgba(0, 100, 163, 0.737);
$yellow: rgba(223, 189, 0, 0.694);

// /color variables

// size variables

$cellSize: 84px;
$tablePadding: 40px;

// /size variables

/* helper styles */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.relative-container {
    position: relative;
}

/* /helper styles */

/* general page styles */

html {
	background-color: #3a3a3a;
}

html.delayed {
	background-image: url(http://shapedance.beautifuluniquesnowflake.com/assets/images/low_contrast_linen.png);
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: rgb(245, 245, 245);
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(235, 235, 235);

	&:hover {
		text-decoration: underline;
	}
}

._pbj-viewport {
	overflow: hidden;
	position: relative;

	width: 600px;
	height: 400px;
}

._pbj-inner {
	width: 300%;
	margin: 0;
	padding: 0;
	@include prefix(transition, all 1s);
	@include prefix(transform, translate3d(-33.33333%, 0, 0));
	@include prefix(transform, translate3d(-66.66666%, 0, 0));
}

._pbj-img-container {
	display: block;
	float: left;
	list-style-type: none;
}

._pbj-img {
	display: block;
}

._pbj-tap-map {
	width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

._pbj-tap-w,
._pbj-tap-e,
._pbj-tap-n,
._pbj-tap-s {
    width: 50%;
    left: 0;
    position: absolute;
}

._pbj-tap-e,
._pbj-tap-n-2,
._pbj-tap-s-2 {
	left: 50%;
}

._pbj-tap-w,
._pbj-tap-e {
    height: 100%;
}

._pbj-tap-n,
._pbj-tap-s {
    height: 50%;
}

._pbj-tap-w {
	cursor: w-resize;
	background-color: red;
}

._pbj-tap-e {
    cursor: e-resize;
    background-color: blue;
}

._pbj-tap-n {
	-webkit-transform-origin-y: bottom;
	cursor: n-resize;
	background-color: green;
}

._pbj-tap-s {
    bottom: 0;
    -webkit-transform-origin-y: top;
    cursor: s-resize;
    background-color: yellow;
}

._pbj-tap-n-1,
._pbj-tap-s-1 {
	-webkit-transform-origin-x: right;
}

._pbj-tap-n-2,
._pbj-tap-s-2 {
	-webkit-transform-origin-x: left;
}

._pbj-tap-n-1,
._pbj-tap-s-2 {
	-webkit-transform: skewY(33.69deg);
}

._pbj-tap-n-2,
._pbj-tap-s-1 {
	-webkit-transform: skewY(-33.69deg);
}

/* state-specific styles */

.delayed {

}

/* /state-specific styles */



/* dev */

body {
	padding: 1em;
}

/* /dev */

/* /general page styles */

/* responsive media queries */

@media (min-width: 1025px) { /* if larger than typical tablet display, aka desktop styles */



}

@media (max-width: 480px) { /* if smaller or equal to typical phone display, aka phone styles */



}