/* ==========================================================================
   my custom styles
   ========================================================================== */
/* import animation keyframes */
/* animation keyframes */
@-webkit-keyframes fade-in {
  /* line 28, _keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 29, _keyframes.scss */
  50% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  /* line 28, _keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 29, _keyframes.scss */
  50% {
    opacity: 0;
  }
}

@-ms-keyframes fade-in {
  /* line 28, _keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 29, _keyframes.scss */
  50% {
    opacity: 0;
  }
}

@-o-keyframes fade-in {
  /* line 28, _keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 29, _keyframes.scss */
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  /* line 28, _keyframes.scss */
  0% {
    opacity: 0;
  }

  /* line 29, _keyframes.scss */
  50% {
    opacity: 0;
  }
}

/* /animation keyframes */
/* /import animation keyframes */
/* helper styles */
/* line 39, style.scss */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 50, style.scss */
.relative-container {
  position: relative;
}

/* /helper styles */
/* general page styles */
/* line 58, style.scss */
html {
  background-color: #3a3a3a;
}

/* line 62, style.scss */
html.delayed {
  background-image: url(http://shapedance.beautifuluniquesnowflake.com/assets/images/low_contrast_linen.png);
}

/* line 66, style.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: whitesmoke;
}

/* line 75, style.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: #ebebeb;
}
/* line 80, style.scss */
a:hover {
  text-decoration: underline;
}

/* pbj plugin styles */
/* line 87, style.scss */
._pbj-viewport {
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-radius: 4px;
  -webkit-animation: fade-in 0.5s ease-in-out;
  -moz-animation: fade-in 0.5s ease-in-out;
  -ms-animation: fade-in 0.5s ease-in-out;
  -o-animation: fade-in 0.5s ease-in-out;
  animation: fade-in 0.5s ease-in-out;
}

/* line 96, style.scss */
._pbj-inner {
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
  -webkit-animation: fade-in 1.25s ease-in-out;
  -moz-animation: fade-in 1.25s ease-in-out;
  -ms-animation: fade-in 1.25s ease-in-out;
  -o-animation: fade-in 1.25s ease-in-out;
  animation: fade-in 1.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

/* line 112, style.scss */
._pbj-img-container {
  display: block;
  float: left;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 119, style.scss */
._pbj-img {
  display: block;
  position: relative;
}

/* line 124, style.scss */
._pbj-tap-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 132, style.scss */
._pbj-tap {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 141, style.scss */
._pbj-tap-e,
._pbj-tap-n-2,
._pbj-tap-s-2 {
  left: 50%;
}

/* line 146, style.scss */
._pbj-tap-w,
._pbj-tap-e {
  width: 50%;
  height: 100%;
}

/* line 152, style.scss */
._pbj-tap-n,
._pbj-tap-s {
  width: 100%;
  height: 50%;
}

/* line 160, style.scss */
._pbj-tap-n-1,
._pbj-tap-n-2,
._pbj-tap-s-1,
._pbj-tap-s-2 {
  width: 25%;
  height: 33.333%;
}

/* line 169, style.scss */
.shaped._pbj-tap-n-1, .shaped._pbj-tap-n-2, .shaped._pbj-tap-s-1, .shaped._pbj-tap-s-2 {
  width: 50%;
  height: 50%;
}

/* line 177, style.scss */
._pbj-tap-n-1,
._pbj-tap-s-1 {
  right: 50%;
  -webkit-transform-origin-x: right;
}

/* line 183, style.scss */
._pbj-tap-n-2,
._pbj-tap-s-2 {
  -webkit-transform-origin-x: left;
}

/* line 187, style.scss */
._pbj-tap-w {
  cursor: w-resize;
}

/* line 192, style.scss */
._pbj-tap-e {
  cursor: e-resize;
}

/* line 197, style.scss */
._pbj-tap-n {
  -webkit-transform-origin-y: bottom;
  cursor: n-resize;
}

/* line 203, style.scss */
._pbj-tap-s {
  bottom: 0;
  -webkit-transform-origin-y: top;
  cursor: s-resize;
}

/* /pbj plugin styles */
/* state-specific styles */
/* /state-specific styles */
/* dev */
/* line 224, style.scss */
body {
  padding: 1em;
}

/* /dev */
/* /general page styles */
/* responsive media queries */
@media (min-width: 1025px) {
  /* if larger than typical tablet display, aka desktop styles */
}
@media (max-width: 480px) {
  /* if smaller or equal to typical phone display, aka phone styles */
}
